<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-64UC4BEhTGwk3eGpak4nO2jqtl7liTS+juXkSJ2gPAQPmlClQO7s5UgCeR6US48g" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-jdSIJTK9l6XwXj3RixpVDXtMcA2bFd9O81RlLAwhpr2oXRqvQP88rr16IeFXTgFE" crossorigin="anonymous"></script>
    <title>英語学習記録アプリ</title>
</head>

<body>

    <h1 class="mb-4">英語学習記録</h1>

    <form method="POST">
        <label>今日の学習内容:</label>
        <input type="text" name="content" placeholder="例：TOEICリスニング">

        <br>

        <label>今日の学習時間:</label>
        <input type="number" name="time" placeholder="例：30(分)">

        <button type="submit">記録する</button>
    </form>

    <hr>
    
    <h2>学習サマリー</h2>
<p>合計学習時間：{{ total_time }} 分</p>
<p>今週の合計学習時間：{{ weekly_total }} 分</p>
<p>今月の合計学習時間：{{ monthly_total }} 分</p>
<p>今週の平均学習時間：{{ weekly_avg }} 分</p>
<p>今月の平均学習時間：{{ monthly_avg }} 分</p>

<hr>

    <h2 class="mt-4">ログ一覧</h2>

    {% if logs %}

    <ul>

        {% for log in logs %}

        <li>

            {{ log.study_date }} / {{ log.content }} / {{ log.time }}分


            <form action="{{ url_for('edit', log_id=log.id) }}" method="GET" style="display:inline;">
            <button type="submit">編集</button>
            </form>
            <form method="POST" action="{{ url_for('delete',log_id=log.id )}}" style="display:inline;">
                <button type="submit">削除</button>
            </form>

        </li>

        {% endfor %}

    </ul>

    {% else %}

    <p>まだ学習記録がありません。</p>

    {% endif %}

</body>
</html>
